<html>
  <head>
    <title>SportsTweet</title>
  </head>
  <body>
    <div class="container">
      <h1>SportsTweet</h1>
      <p>Here's a stream of tweets about basketball:</p>
      <div class="tweets">
      </div>
    </div>
  </body>
</html>
