<html>
  <head>
    <title>SportsTweet</title>
    <%= javascript_include_tag "http://localhost:9292/faye.js" %>
  </head>
  <body>
    <div class="container">
      <h1>SportsTweet</h1>
      <p>Link to saved tweets: <%= link_to "Saved tweets", tweets_path %></p>
      <p>Here's a stream of tweets about lebron or basketball:</p>
      <div class="tweets">
      </div>
    </div>
  </body>
</html>
