// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: #333;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
    color: #b0c4de;
}

.chart {
    margin-top: 10px;
}
.chart text {
    fill: white;
}

.container {
    margin: 0 auto;
    width: 840px;
    padding: 20px 50px;
    color: white;
}

.popular,
.slides {
    margin: 10px 0;
    width: 400px;
}
.popular {
    float: left;
}
.slides {
    float: right;
}
.slides img {
    margin: 10px 0;
    max-width: 360px;
    max-height: 360px;
}

.tweet_container {
    clear: both;
    border-top: 1px solid #555;
    padding-top: 10px;
}
.tweet {
    padding: 12px 0;
}
.tweet + .tweet {
    border-top: 1px solid #555;
}

/* for list pages */
tr,
h1 {
    color: white;
}
td {
    padding-right: 20px;
}

