// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
html,
body {
    background: black;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
    color: #b0c4de;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
    padding: 20px;
    color: white;
}

/* three column display */
.left-col,
#slides,
.popular {
    display: inline-block;
}

/* left: logo and info */
.left-col {
    padding: 0 10px;
    width: 260px;
    text-align: center;
    vertical-align: top;
}
.left-col p + p {
    margin-top: 10px;
}
.logo {
    width: 230px;
}
.num_tweets,
.elapsed_minutes {
    font-weight: bold;
}

/* center: slideshow */
#slides {
    margin-bottom: 10px;
    padding-right: 20px;
    width: 400px;
}
.slidesjs-slide {
    background: #232321;
    height: 100%;
    text-align: center;
}
.slidesjs-slide img.wide {
    width: 100%;
}
.slidesjs-slide img.tall {
    height: 100%;
}
.caption {
    position: absolute;
    bottom: 0;
    width: 380px;
    background: rgba(0, 0, 0, .7);
    padding: 4px 10px 7px;
}
.slidesjs-next {
    float: right;
}

/* right: bar chart */
.chart {
    background-color: #222;
}
.chart text {
    fill: white;
}
.teams-label {
    margin-left: 20px;
}
.mention-label {
    display: inline-block;
    padding: 8px 14px;
    background-color: #222;
    cursor: pointer;
}
.teams-label:hover,
.players-label:hover {
    background-color: #555;
}
.active-label {
    background-color: #555;
}
.mention-label {
    text-align: center;
}
/* drilldown styles -- disabled
.chart text {
    cursor: pointer;
}
.chart text:hover {
    fill: #ddd;
}
*/

/* bottom: tweets */
.tweet_container {
    clear: both;
    border-top: 1px solid #555;
    padding-top: 10px;
}
.tweet {
    padding: 12px 0;
}
.tweet + .tweet {
    border-top: 1px solid #555;
}

/* for list pages */
tr,
h1 {
    color: white;
}
td {
    padding-right: 20px;
}

/* responsive - mobile */
@media all and (max-width: 600px) {
    .popular {
        width: 400px;
    }
    .left-col,
    #slides,
    .popular {
        margin: 10px auto;
        display: block;
    }
}
